---
import { useGraphqlQuery } from "@composables/useGraphqlQuery";
import { pagesBlog } from "@graphql/pages-blog.gql.js";
const { searchParams } = Astro.url;

export interface Props {
  id: string;
  siteId: number;
  uri: string;
}

const { id, siteId, uri } = Astro.props as Props;

const {
  data: { entry },
} = await useGraphqlQuery({
  query: pagesBlog,
  routeQuery: Object.fromEntries(searchParams),
  variables: {
    siteId,
    uri,
  },
});
---

<h1>Pages - Blog Overview</h1>
<h2>{entry.title}</h2>
