---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import { useGraphqlQuery } from '@composables/useGraphqlQuery'
import {entryQuery} from '@graphql/entry.gql.js'

const { searchParams } = Astro.url

console.log(Astro.request.headers)

const { data: { entry} } = await useGraphqlQuery({
	query: entryQuery,
	routeQuery: Object.fromEntries(searchParams),
	variables: {
        siteId: ['1'],
		uri: 'over-ons'
	}
})

console.log(entry)

---

<h1>{entry.title}</h1>


